<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.schoolname }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p class="text">
          {{ site.program_info | newline_to_br  }}
        </p>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">

          {% if site.repo_copyright %}
          <li>
              <i class="fa fa-copyright" style="color:gray"></i> {{ site.repo_copyright }}
          </li>
          {% endif %}


          {% if site.repo_license %}
          <li>
              <i class="	fa fa-refresh" style="color:gray"></i> {{ site.repo_license }}
          </li>
          {% endif %}
        
          {% if site.repo_source %}
          <li>
            <a href="https://github.com/{{ site.repo_source }}">
              <i class="fab fa-github" style="color:gray"></i> <p>Source code</p>
            </a>
          </li>
          {% endif %}


<!-- GitHub account -->
 <!--
          {% if site.github_username %}
  <li>
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fab fa-github" style="color:gray"></i> {{ site.github_username }}
    </a>
  </li>
{% endif %}
-->



        </ul>
      </div>
    </div>

  </div>

</footer>
